html,
body {
  overscroll-behavior: none;
}

#main-page {
  /* Prevent scroll chaining */
  overflow-y: hidden;
}

.allow-scroll {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Ensure clickable buttons show pointer cursor across the site */
button {
  cursor: pointer;
}
