html,
body {
  overscroll-behavior: none;
  /* Prevent scroll chaining */
  /* overflow-y: hidden; */
  /* If you want to disable vertical scroll completely */
}

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Ensure clickable buttons show pointer cursor across the site */
button {
  cursor: pointer;
}
